
<div class="container-sm">
    <h2>Login</h2>
    <form action="/login" method="post">
        <div class="form-group mb-3">
            <label for="username" name="username">Username:</label>
            <input type="text" name="username" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="password" name="password">Password:</label>
            <input type="password" name="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <div>
        {{#if message}}
            {{message.error}}
        {{/if}}
        </div>
    </form>
</div>

