
<div class="container-sm">
    <h2>Login</h2>
    <form action="/login" method="post">
        <div class="form-group mb-3">
            <label for="username" name="username">Username:</label>
            <input type="text" name="username" class="form-control" value="{{username}}">
        </div>
        <div class="form-group mb-3">
            <label for="password" name="password">Password:</label>
            <input type="password" name="password" class="form-control">
        </div>
            <button type="submit" class="btn btn-primary">Login</button>
        <div>
            <br />
        {{#if message.error}}
            <div class="alert alert-warning" role="alert">
                {{message.error}}.
            </div>
            <div class="alert alert-primary" role="alert">
                Don't have an account? Feel free to <a href="/signup" class="alert-link">sign up</a>!
            </div>
        {{/if}}
        </div>
    </form>
</div>

