
<div class="container">
   <h2>Welcome to Postable</h2>
   <p>Post your thoughts for followers to like or comment on!</p>
   <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item active">
            <img class="d-block w-100" src="/images/newsfeedExample.png" alt="Newsfeed image">
         </div>
         <div class="carousel-item">
            <img class="d-block w-100" src="/images/notificationExample.png" alt="notification image">
         </div>
         <div class="carousel-item">
            <img class="d-block w-100" src="/images/postExample.png" alt="Third slide">
         </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="sr-only"></span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="sr-only"></span>
      </a>
   </div>
</div>

