body {
  background-color: #f1f2f5;
}

.form-control,
#content {
  background-color: #eff2f5;
}

nav {
  padding-left: 2rem;
}

.container-sm {
  width: 30%;
}

.container-md {
  width: 60%;
  margin-bottom: 4rem;
}

.form-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

.list-group {
  border-top: none;
  padding: 1rem 1rem 0 1rem;
}

.grey-comment-box {
  padding: 0rem 1rem 0.5rem 1rem;
  margin-bottom: 1rem;
  background-color: #eff2f5;
}

.x-btn {
  color: #616161;
}

.comment-name {
  font-size: 1rem;
  margin-top: 5px;
}

.newsfeed-card:hover {
  cursor: pointer;
  background-color: rgb(249, 249, 249);
}

a {
  text-decoration: none;
}

.button-container {
  width: 300px;
}

.col-2 {
  margin-right: 0.5rem;
}

.col-4 {
  margin-right: 0rem;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: white;
}

.btn-info:hover {
  background-color: #108698;
  border-color: #108698;
  color: white;
}

.likes-no,
.comments-no {
  padding-top: 5px;
  font-size: 1.2rem;
}

.comments-no {
  margin-right: 1px;
}

.unlike-btn {
  border: none;
  background-color: transparent;
}

.heart-img,
.comment-img {
  margin-top: 5px;
  border: none;
  height: 25px;
  width: 25px;
}

.comment-box {
  margin-top: -2rem;
}

.btn-size {
  height: 35px;
}

.badge {
  margin-top: 4px;
}

.notification-icon {
  height: 20px;
  width: 20px;
}

.tiny-gravatar {
  height: 40px;
  width: 40px;
}
