nav {
  padding-left: 2rem;
}

.container-sm {
  width: 30%;
}

.container-md {
  width: 60%;
}

.card:hover {
  cursor: pointer;
  background-color: rgb(249, 249, 249);
}

a {
  text-decoration: none;
}

.button-container {
  width: 300px;
}

.col-2 {
  margin-right: 0.5rem;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: white;
}

.btn-info:hover {
  background-color: #108698;
  border-color: #108698;
  color: white;
}
