nav {
  padding-left: 2rem;
}

.container-sm {
  width: 30%;
}

.container-md {
  width: 60%;
}

.form-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

.list-group {
  padding: 1rem;
}

.card:hover {
  cursor: pointer;
  background-color: rgb(249, 249, 249);
}

a {
  text-decoration: none;
}

.button-container {
  width: 300px;
}

.col-2 {
  margin-right: 0.5rem;
}

.col-4 {
  margin-right: 0rem;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: white;
}

.btn-info:hover {
  background-color: #108698;
  border-color: #108698;
  color: white;
}

.likes-no {
  padding-top: 5px;
  font-size: 1.2rem;
}

.unlike-btn {
  border: none;
  background-color: transparent;
}

.heart-img {
  margin-top: 2px;
  border: none;
  height: 35px;
  width: 35px;
}
