
<div class="container-md">
    <h2>New Post</h2>
    <form action="/{{userLogged._id}}/add-post" method="post">
        <div class="form-group">
            <label for="title" name="title"></label>
            <input type="text" name="title" placeholder="Post Title" class="form-control">
        </div>
        <div class="form-group"> 
            <label for="content" name="content"></label>
            <textarea type="text" name="content" placeholder="What would you like to say?" class="form-control"></textarea>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Post</button>
        <a href="/user-profile" class="btn btn-secondary">Cancel</a>
    </form>
</div>

