
<div class="container">
    <h2>Newsfeed</h2>
    {{#unless posts}}
    <div class="alert alert-warning" role="alert">
        Follow users to see their posts!
    </div>
    {{/unless}}
    <div>
        {{#each posts}}
            {{> postCard }}
        {{/each}}
    </div>
    <br />
     <p>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Find users to follow
        </a>
    </p>
    <div class="collapse" id="collapseExample">
            <div class="card card-body">
                {{#if otherUsers}}
                <p>Perhaps you know someone from the list of current users...</p>
                    {{#each otherUsers}}
                    <div class="card-body">
                        <img src="{{this.gravatar}}" alt="" class="tiny-gravatar">
                        <a href="/profile/{{this._id}}">{{this.username}}</a>
                    </div>
                    {{/each}}
                {{/if}}
                {{#unless otherUsers}}
                    <p>Whoops, looks like you're following everyone!</p>
                {{/unless}}
            </div>
    </div>
</div>

