<h2>Update Post</h2>
<form action="/update/{{post._id}}" method="post">
    <label for="title" name="title">Title:</label>
    <input value='{{post.title}}' type="text" name="title">
    <div>
        <label for="content" name="content">Content:</label>
        <textarea placeholder='{{post.content}}' type="text" name="content"></textarea>
    </div>
    <button type="submit">Post</button>
</form>